PORT=3000

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LASTFM_API_KEY=
SPOTIFY_MARKET=BR

# O usuário do Komga é o e-mail cadastrado na configuração inicial.
KOMGA_URL=http://localhost:25600
KOMGA_USERNAME=
KOMGA_PASSWORD=
